@font-face {
    font-family: Leage Spartan;
    src: url("../fonts/LeagueSpartan-Bold.otf") format("truetype");
}

:root {
    --dev-black: #141414;
    --dev-purple: #9400ff;
    --dev-grey-dark: #50505031;
    --dev-grey-light: #8a8a8a2c;
    --dev-green-light: #00ff80b4;
}

::selection {
    color: #000;
    background-color: var(--dev-purple);
}

body.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Leage Spartan;
    background-color: #000;
}

section.head {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vh;
    max-height: 100vh;
}

div.head-title {
    position: relative;
    left: 5%;
    right: 0;
    bottom: 0;
    text-align: end;
    z-index: 1;
    display: grid;
    align-content: center;
}

span.head-title-light {
    color: #000;
    background-color: var(--dev-purple);
}

span.head-title-item,
span.head-title-desc {
    position: relative;
    color: #fff;
}

span.head-title-item {
    font-size: 100pt;
    border-bottom-width: 0%;
}

span.head-title-desc {
    font-size: 50pt;
}

div.head-cover {
    position: relative;
}

source.head-cover-image,
img.head-cover-image {
    object-fit: cover;
    position: relative;
}

div.head-title-actions {
    display: block;
}

ul.head-title-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li.head-title-item {
    color: #fff;
    border: 2px solid var(--dev-purple);
    padding: 15px 30px;
    font-size: 18pt;
    transition: background-color 0.3s ease-in-out;
}

li.head-title-item:hover {
    background-color: var(--dev-purple);
}

a.head-title-anchor {
    text-decoration: none;
    color: #fff;
}

a.head-title-anchor:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}